<h3><%= l('coderwall_box')%></h3>

<% if not @user.coderwall_alias.nil? %>
  <% begin %>
    <% achievements_of(@user.coderwall_alias).each do |a| %>
      <%= image_tag(a.badge, :alt => a.name, :title => a.description, :height => 60, :width => 60) %>
    <% end %>

  <% rescue => e %>
    <% flash[:error] = l('coderwall_alias_invalid_error') %>
  <% end %>
<% else %>
  <% flash[:error] = l('coderwall_alias_missing_error') %>
<% end %>